@import 'jeet'

edit()
    
.app
  center(968px)

#footer
  margin-top 30px

  #author
    cf()
    align()
    
#cools
  max-height 100%
  img
    height 100px
  
    

#trackingDisplay
  font-size 30px
  color purple
  
  
    
input.inset[type="text"] {
  padding: 10px;
  border: solid 1px #fff;
  box-shadow: inset 1px 1px 2px 0 #707070;
  transition: box-shadow 0.3s;
}
input.inset[type="text"]:focus,
input.inset[type="text"].focus {
  box-shadow: inset 1px 1px 2px 0 #c9c9c9;
}

.close
  color black
  vertical-align super
  font-size 20px
  
.text
  margin-left: 20px;
  
.label
  border: 1px solid #000;
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: bold;
  display: inline;
  padding: .2em .6em .3em;
  font-size: 75%;
  font-weight: bold;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
  background-color: #337ab7;